body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("https://entrackr.com/storage/2018/01/Aadhaar_Virtual_ID-image.jpg");
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f0f5d7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(113, 110, 110, 0.83);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #bb0b0b;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #de5c1b;
}
